@import "tailwindcss";

:root {
  --font-achemost: "Achemost", sans-serif;
  --font-bradley: "Bradley", cursive;
  --font-helma: "Helma", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.font-montserrat {
  font-family: var(--font-montserrat); /* Default */
}

.font-helma {
  font-family: var(--font-helma);
}

.font-bardley {
  font-family: var(--font-bradley);
}

.font-achemost {
  font-family: var(--font-achemost);
}

h1,
h2 {
  font-family: var(--font-achemost);
}

h4,
h5,
h6 {
  font-family: var(--font-bradley);
}

p,
h3 {
  font-family: var(--font-montserrat);
}

span {
  font-family: var(--font-helma);
}
